h1{
    font-family: 'Merriweather', serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}
/* navigation bar */

.Brand-name{
    font-family: 'Ubuntu', sans-serif;
}

/* title section contant */

.company-name{
    background-color: #74f0ec;
    background-image: linear-gradient(to bottom right, #C2FFF9, white);
    border-bottom-right-radius: 12rem;
    height: 30rem;
    padding: 7rem 0 0 3rem;
}


.kpo-image{
    width: 16rem;
    height: 16rem;
    margin: auto;
}



@media screen and (max-width : 800px) {
    .company-name{
        border-bottom-right-radius: 7rem;
        height: 15rem;
        padding: 5rem 0 0 1rem;
    }
}